.sc-ion-card-ios-h {
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 5px;
    margin-inline-start: 5px;
    -webkit-margin-end: 5px;
    margin-inline-end: 5px;
}
.sc-ion-card-ios-h {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
}
.tarjeta-articulo__pvp {
    text-decoration: line-through;
}